*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*Estilo Navbar*/
.nav-link{
    font-size: 40px;
}
.bag{
    display: inline-block;
    font-size: 25px;
}
.d-block{
    width: 70%;   
}

/*Carrusel*/
.carrusel{
    margin-top: 100px;
}
/*seccion descuntos*/
.descuento-flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: auto;
    height: auto;
}
.descuento{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    
}
.container-news{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    
}
.news{
    border: black solid 2px;
    width: 300px;
    justify-content: center;
    padding: 10px;
}
/*Catalogo Man*/
.shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    text-align: center;
}
.shoe{
    width: 400px;
}
button{
    background: black;
    color: white;
    border-radius: 5px;
  }
  button:hover{
    background-color: rgb(221, 81, 81);
    color: black;
    border: none;
  }
/*Pie de pagina*/
.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.bi { 
    font-size: 40px;
    color:rgb(53, 52, 52);
    margin: 20px;
}
.copy{
    text-align: center;
}

/*Responsive*/
@media screen and ( max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    .descuento{
        font-size: 50px;
    }
    .redes{
        justify-content: center;
    }
}
